{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Django Sample Site - {% block title %}{% endblock %}
    </title>


    <link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css" />
    <!--<link href="{{STATIC_URL}}styles.css" rel="stylesheet" type="text/css">-->
  </head>
  <body>
    <div class="container">
      {% block pagecontent %}
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
      {% endblock %}

  </body>
</html>
<!--
<style>
.container {
    background: #eac656;
    margin: 10 10 10 10;
    border: 3px solid black;
}
li a {
    color: green;
}
</style>
-->

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
